{% extends 'base.html' %}

{% block content %}
<h2>Lista de Usuarios</h2>
<table border="1px">
    <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Contraseña</th>
        <th>Nacimiento &#40;aaaa/mm/dd&#41;</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>{{user.bday}}</td>
                {% if user.id % 2 == 0 %}
                    <td>Id Par</td>
                {% else  %}
                    <td>Id Impar</td>
                {% endif %}
            <td>
                <a href="{{ url_for('user.actualizar', id = user.id) }}" class="updateButton">Editar</a>
            </td>
            <td>
                <a href="{{ url_for('user.eliminar', id = user.id) }}" class="delteButton">Eliminar</a>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}